:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --contacts-text-color: rgba(255,255,255,0.6);
    --accent-color: #2196f3;
    --primary-white-color: #ffffff;
    --button-backgroung-color: #f5f4fa;
    --hero-background-color: #2f303a;
    --main-background-color: #ffffff;
}
/* Body styles */
body{
    font-family: Roboto,sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.71;
    color: var(--primary-text-color);
    background: var(--main-background-color);
}

/* Styles discharge */

.list{
    padding: 0;
    margin: 0;
    list-style: none;
}

h1,
h2,
h3,
p{
    margin: 0;
}

/* Hidden title */
.visually-hidden{
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
}

/* Header styles */

.header-container,
.container{
    width: 1600px;
    margin: 0;
    border: 1px solid #ECECEC;
}

.nav-container{
    display: flex;
    align-items: center;
    width: 1200px;
    height: 80px;
    margin-left: 200px;
    margin-right: auto;
}

.logo{
    font-family: Raleway,sans-serif;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color: var(--title-text-color);
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
    margin-left: 0;
}
.logo-blue{
    font-family: Raleway,sans-serif;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color:var(--accent-color);
    padding-top: 24px;
    padding-bottom: 25px;
}

.site-nav-list{
    display: flex;
    list-style: none;
    padding-top: 32px;
    padding-bottom: 32px;
}

.site-nav-item{
    margin-right: 50px;
}

.site-nav-list .site-nav-item:last-child{
    margin-right: 0;
}

.site-nav-link{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    list-style: none;
    color: var(--title-text-color);
}

.site-nav-link:hover,
.site-nav-link:focus{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    list-style: none;
    color:var(--accent-color);
}

.site-nav-list .site-nav-link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.contacts-list{
    list-style: none;
    display: flex;
    margin-left: auto;
}

.contacts-list-link{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    list-style: none;
    color: var(--primary-text-color);
}

.contacts-list-link:hover,
.contacts-list-link:focus{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    list-style: none;
    color: var(--accent-color);
}

.contacts-list .contacts-list-link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.contacts-list .contacts-list-item + .contacts-list-item{
    margin-left: 50px;
}

/* Hero styles */

.hero-section{
    text-align: center;
    background-color: var(--hero-background-color);
    height: 600px;
    margin: auto;
    width: 1600px;
    padding-top: 94px;
    padding-bottom: 94px;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: center;
}
.hero-container{
    width: 1200px;
    margin: auto;
}

.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    background-color:var(--hero-background-color);
    width: 696px;
    height: 120px;
    margin-left: 237px;
    margin-top: 106px;
    margin-bottom: 30px;
}

.hero-button,
.hero-button:hover,
.hero-button:focus{
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    cursor: pointer;
    color: var(--primary-white-color);
    background-color:var(--accent-color);
    display: block;
    width: 200px;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
    margin: 0 0 0 485px;
    border-style: none;
    border-radius: 4px;
}
/* Feature section styles */

.features-section{
    width: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 94px;
    padding-bottom: 94px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
}

.features-container{
    width: 1200px;
    margin: 0;
}

.features-list{
    list-style: none;
    display: flex;
    padding: 0;
}

.features-list-item{
    width: 270px;
    height: 101px;
}

.features-list-title{
    font-weight: 700;
    line-height: 1.14;
    text-align: left;
    color:var(--title-text-color);
    list-style: none;
    margin-bottom: 10px;
    padding: 0;
}

.features-list-item:first-child{
    margin-left: 0px;
}

.features-list-item{
    margin-left: 30px;
}

.features-list-text{
    text-align: left;
    height: 75px;
    padding: 0;
}

/* Our profile section styles */

.our-profile-section{
    width: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 94px;
    padding-left: 15px;
    padding-right: 15px;
}

.our-profile-container{
    width: 1200px;
    margin: 0;
    justify-content: center;
}

.our-profile-list-images{
    list-style: none;
    display: flex;
    height: 294px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.our-profile-images-img{
    margin-right: 30px;
    padding: 0 0 0 0;
}

.our-profile-images-img:last-child{
    margin-right: 0;
}

.our-profile-second-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color:var(--title-text-color);
    margin-bottom: 50px;
    margin-left: 397px;
    width: 396px;
    height: 42px;
}

/* Our team section styles*/

.our-team-section{
    width: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--button-backgroung-color);
    padding-top: 94px;
    padding-bottom: 94px;
    padding-left: 15px;
    padding-right: 15px;
}

.our-team-container{
    width: 1200px;
    justify-content: center;
}

.our-team-list{
    display: flex;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

.our-team-item{
    margin-left: 30px;
}

.our-team-item:first-child{
    margin-left: 0px;
}

.our-team-second-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color:var(--title-text-color);
    margin-bottom: 50px;
    margin-left: 453px;
    width: 396px;
    height: 42px;
}

.our-team-item-third-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    list-style: none;
    color:var(--title-text-color);
    margin: 30px 59px 10px 60px;
}
.our-team-item-text{
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 30px;
}

/* Footer styles */

.footer-container{
    background-color: var(--hero-background-color);
    width: 1600px;
    height: 252px;
    margin: 0;
}

.footer-container-data{
    width: 1200px;
    margin: auto;
    display: block;
    padding: 60px 15px 60px 15px;
}

.footer-logo{
    font-family: Raleway,sans-serif;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color: var(--title-text-color);
    margin: 0 0 11px 0;
}


.logo-white{
    font-family: Raleway,sans-serif;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color:var(--primary-white-color);
    padding-top: 60px;
    padding-bottom: 20px;
}

.footer-contacts-list{
    width: 1200px;
    font-style: normal;
    list-style: none;
    padding: 0;
}

.footer-item{
    margin-top: 9px;
}

.footer-contacts-link{
    text-decoration: none;
    color: var(--primary-white-color);
}
/* Portfolio buttons styles */

.portfolio-menu{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 94px;
    padding-bottom: 94px;
    margin: 0;
    justify-content: center;
}

.portfolio-menu-list{
    list-style: none;
    display: flex;
    margin: 0 0 0 495px;
    padding: 0;
}

.portfolio-menu-item{
    margin-right: 8px;
}

.portfolio-menu-item:last-child{
    margin-right: 0px;
}

.portfolio-menu-button{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: Center;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    color: var(--title-text-color);
    background-color:var(--button-backgroung-color);
    border-style: none;
    border-radius: 4px;
}
.portfolio-menu-button:hover,
.portfolio-menu-button:focus{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: Center;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    color: var(--primary-white-color);
    background-color:var(--accent-color);
}
/* Portfolio list styles */

.portfolio-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: 215px;
    padding: 0;
}

.portfolio-list-item{
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid #eeeeee;
}

.potfolio-list-link{
    font-style: normal;
    text-decoration: none;
    width: 370px;
    height: 294px;
}
.portfolio-list-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    text-align: left;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
    width: 322px;
    height: 36px;
    margin: 20px 24px 4px 24px;
}
.portfolio-list-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    text-align: left;
    color: var(--primary-text-color);
    width: 322px;
    height: 30px;
    margin: 0 24px 20px 24px;
}